@media (min-device-width : 992px){
  .work-video {
  	iframe {
  		width: 496px;
  		height: 279px;
  	}
  }

  .navbar-expand-lg .offcanvas {
    flex-grow: 0;
  }

  .offcanvas-end {
    width: auto;
  }

  .drawer-social {
    display: none;
  }

  .mail-container {
    display: none;
  }

  iframe {
    width: 864px;
    height: 486px;
  }

  .socialmedia-grid {
  	background-color: transparent;
  	iframe {
  		width: 207px;
  		height: 368px;
  	}
  }
}
