//global colors
$main-color: rgba(0, 0, 0, .5);
$secondary-color: white;
$key-color: black;

//sizing
$w-100: 100%;
$w-90: 90%;
$w-75: 75%;
$w-50: 50%;
$w-25: 25%;

//spacing
$sp-lg: 16px;
$sp-md: 8px;
$sp-sm: 4px;
$sp-0: 0;

//mixins
@mixin text($font-typo, $font-size, $font-weight) {
  font-family: $font-typo;
  font-size: $font-size;
  font-weight: $font-weight;
}
