.header-bg {
  background-color: clr(main);
}

header {
  width: $w-100;
}

nav {
  width: $w-100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  a {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: $w-100;
      transform: scaleX(0);
      height: 2px;
      bottom: $sp-0;
      left: $sp-0;
      background-color: clr(secondary);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:not(.not-hoverable) {
			&:hover {
				&:after {
					transform: scaleX(1);
					transform-origin: bottom left;
				}
			}
		}
  }
}

.navbar {
  padding: $sp-0;
}

.navbar-toggler-icon {
  color: clr(secondary);
  padding-top: $sp-sm;
  text-align: right;
  outline: none;
}

.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}

#maintitle {
  @include text($font-secondary, $font-sm, bold)
  color: clr(secondary);
  margin-left: $sp-lg;
}

#mail {
  width: 240px;
  @include border (1px, clr(secondary), 50px);
  align-self: center;
  &:hover {
    border-color: clr(green);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    outline: none;
  }
}

#mail2 {
  display: none;
  width: 100%;
  @include border (1px, clr(secondary), 50px);
  &:hover {
    border-color: clr(green);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    outline: none;
  }
}

.menu {
  flex-grow: 0;
  ul {
		.nav-item {
			.nav-link {
				text-decoration: none;
				color: clr(secondary);
				padding: $sp-0;
        &:hover {
          color: clr(secondary);
        }
			}
		}
	}
}

#menu {
  @include text($font-secondary, $font-sm, bold)
  margin: $sp-0;
  display: flex;
  li {
    padding: 20px;
    text-align: center;
    margin: $sp-0;
  }
}

.offcanvas {
  background-color: rgba(0, 0, 0, .7);
  border-left: clr(secondary) solid 1px;
}

.offcanvas-header {
  justify-content: flex-end;
  padding: .5rem 1rem;
}

.offcanvas-body {
  padding: .5rem 1rem;
}

.nav-link {
  color: clr(secondary)
}

.dropdown-social {
  align-self: flex-end;
}

.dropdown-social-text {
  text-transform: uppercase;
  font-style: italic;
  padding: $sp-lg;
}

@media (min-width : 992px) {
  .offcanvas {
    visibility: visible;
    position: relative;
    flex-grow: 0;
  }

  .offcanvas-end {
    max-width: 70vw;
  }

  .navbar-expand-lg {
    flex-grow: 0;
  }
}

@media (max-width : 992px) {
  .offcanvas {
    width : 250px;
  }

  .offcanvas-start-lg {
    top          : 0;
    left         : 0;
    border-right : 1px solid rgba(0, 0, 0, .2);
    transform    : translateX(-100%);
  }
}
