//imports
@import "_commons";
@import "_typography";
@import "_content";
@import "_header";
@import "_footer";

body {
  background-color: $key-color;
  margin: $sp-0;
  position: relative;
  min-height: 100vh;
  min-width: 100%;
}

.wrapper-scroll {
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-gap: $sp-0;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.header {
  grid-area: header;
}

.main-content {
  grid-area: content;
  align-self: center;
}

.footer {
  grid-area: footer;
}

a {
  text-decoration: none;
  color: white;
  padding: 0;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

li {
  list-style-type: none;
}
