#form-opener {
  padding: $sp-0;
}

form {
  margin: auto;
  width: 60%;
  text-align: center;
}

.form-spaces {
  background-color: $key-color;
  color: gray;
  &:focus {
    background-color: $secondary-color;
    border: 2px solid black;
    transition: 0.5s;
    -webkit-transition: 0.3s;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
    color: $key-color;
  }
}

input, select, textarea {
  @include text($font-secondary, $font-sm, normal)
  margin: 0.5%;
  background-color: $key-color;
  color: $secondary-color;
  padding: .5em;
  width: 100%;
  border: 1px solid gray;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  @include text($font-secondary, $font-sm, normal)
  color: gray;
  text-transform: uppercase;
  font-style: italic;
}

select {
  text-transform: uppercase;
  width: $w-100;
  min-width: $w-100;
  font-style: italic;
  height: 58px;
}

.form-select {
  padding: 0.5em;
}

#message {
  height: 10%;
}

.button {
  width: auto;
  cursor: pointer;
  transition: .2s ease-in-out;
  text-transform: uppercase;
  &:hover {
    background-color: $secondary-color;
    color: $key-color;
    font-weight: bold;
  }
}
