#form-header {
  padding: $sp-0;
}

form {
  margin: auto;
  width: 60%;
  text-align: center;
}

.form-spaces {
  background-color: clr(key);
  color: clr(gray);
  &:focus {
    background-color: clr(secondary);
    border: 2px solid black;
    transition: 0.5s;
    -webkit-transition: 0.3s;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
    color: clr(key);
  }
}

input, select, textarea {
  @include text($font-secondary, $font-sm, normal)
  @include border (1px, clr(gray), 2px);
  margin: 0.5%;
  background-color: clr(key);
  color: clr(secondary);
  padding: .5em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  @include text($font-secondary, $font-sm, normal)
  color: clr(gray);
  text-transform: uppercase;
  font-style: italic;
}

select {
  text-transform: uppercase;
  width: $w-100;
  min-width: $w-100;
  font-style: italic;
  height: 58px;
}

.form-select {
  padding: 0.5em;
}

#message {
  height: 10%;
}

.button {
  width: auto;
  cursor: pointer;
  transition: .2s ease-in-out;
  text-transform: uppercase;
  &:hover {
    background-color: clr(secondary);
    color: clr(key);
    font-weight: bold;
  }
}
