.mainpage-container {
  @include flex-center;
}

.mainpage {
  @include flex-center;
  flex-direction: row-reverse;
}

.role {
  @include text($font-main, $font-xl, normal)
  color: clr(secondary);
  margin-left: auto;
  li {
    text-align: right;
  }
}

.display-2 {
  font-weight: 600;
  font-size: $font-lg;
}

#MOTION-DESIGNER {
  animation-delay: 0.5s;
}

#SOUND-DESIGNER {
  animation-delay: 1s;
}

#working-on-card {
  margin-top: $sp-0;
  margin-bottom: $sp-0;
}

.nav-tabs {
	.nav-link {
		color: clr(key);
	}
}

.card-header {
  background-color: clr(secondary);
}

#working-tabs {
  padding-top: $sp-0;
}

#card-title-box {
  margin: $sp-0;
}

.work-video {
  iframe {
    width: 560px;
    height: 315px;
  }
}

.working {
  @include text($font-main, $font-sm, bold)
  color: clr(key);
  text-align: center;
  p {
    font-size: 1.4em;
  }
}

.working-box {
  background-color: clr(secondary);
  padding: 10px;
}
