.video-wrapper {
  width: $w-100;
  display: grid;
  grid-gap: $sp-0;
  grid-template-columns: 5% 1fr 5%;
  grid-template-areas:
    "sidebar video-content .";
}

.video-menu-container {
  height: 10%;
  margin-top: -2%;
  grid-area: sidebar;
  top: $sp-0;
  position: sticky;
  align-self: start;
}

#video-menu {
  @include text($font-secondary, $font-sm, bold)
	writing-mode: vertical-rl;
  @include flex-center;
	height: 80%;
	flex-direction: row;
	position: relative;
	a {
		&:after {
			content: '';
			position: absolute;
			width: $w-100;
			transform: scaleX(0);
			height: 2px;
			top: -4px;
			left: $sp-0;
			background-color: clr(secondary);
			transform-origin: bottom right;
			transition: transform 0.25s ease-out;
		}
		&:hover {
			&:after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}
	li {
		transform: rotate(180deg);
		padding: 12px;
	}
}

.video-menu-item {
  padding: $sp-0;
  background: none;
  border: none;
  color: clr(secondary);
}

.list-group-item-action {
	&:focus {
		z-index: 1;
		color: clr(secondary);
		text-decoration: none;
		background-color: transparent;
	}
	&:hover {
		z-index: 1;
		color: clr(secondary);
		text-decoration: none;
		background-color: transparent;
	}
}

.list-group-item.active {
  z-index: 2;
  color: clr(secondary);
  background-color: clr(main);
  border-color: clr(main);
  border-radius: $sp-sm;
}

.video-content {
  padding-top: $sp-lg;
  width: $w-100;
  grid-area: video-content;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "shortfilms""socialmedia""animations";
  justify-items: center;
}

#shortfilms {
  grid-area: shortfilms;
  ul {
    width: $w-90;
    padding: $sp-0;
    margin-bottom: $sp-0;
  }
}

#socialmedia {
  grid-area: socialmedia;
  padding: $sp-0;
  background-color: clr(main);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(0, auto) minmax(0, auto);
  grid-gap: 4%;
  justify-items: center;
  width: $w-100;
  iframe {
    max-width: $w-100;
    max-height: $w-100;
    margin: 5%;
  }
}

#animations {
  grid-area: animations;
  padding-top: $sp-lg;
  ul {
    width: $w-90;
    padding: $sp-0;
  }
}
