@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
.header-bg {
  background-color: rgba(0, 0, 0, 0.5); }

header {
  width: 100%; }

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1; }
  nav a {
    position: relative; }
    nav a:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out; }
    nav a:not(.not-hoverable):hover:after {
      transform: scaleX(1);
      transform-origin: bottom left; }

.navbar {
  padding: 0; }

.navbar-toggler-icon {
  color: white;
  padding-top: 4px;
  text-align: right;
  outline: none; }

.navbar-toggler:focus {
  box-shadow: none; }

#main-title {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-left: 16px; }

#mail {
  width: 240px;
  border: 1px solid white;
  border-radius: 50px;
  align-self: center; }
  #mail:hover {
    border-color: #00ff00;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    outline: none; }

#mail2 {
  display: none;
  width: 100%;
  border: 1px solid white;
  border-radius: 50px; }
  #mail2:hover {
    border-color: #00ff00;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    outline: none; }

.menu {
  flex-grow: 0; }
  .menu ul .nav-item .nav-link {
    text-decoration: none;
    color: white;
    padding: 0; }
    .menu ul .nav-item .nav-link:hover {
      color: white; }

#menu {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  display: flex; }
  #menu li {
    padding: 20px;
    text-align: center;
    margin: 0; }

.offcanvas {
  background-color: rgba(0, 0, 0, 0.7);
  border-left: white solid 1px; }

.offcanvas-header {
  justify-content: flex-end;
  padding: .5rem 1rem; }

.offcanvas-body {
  padding: .5rem 1rem; }

.nav-link {
  color: white; }

.drawer-social {
  align-self: flex-end; }

.drawer-social-text {
  text-transform: uppercase;
  font-style: italic;
  padding: 16px; }

@media (min-width: 992px) {
  .offcanvas {
    visibility: visible;
    position: relative;
    flex-grow: 0; }
  .offcanvas-end {
    max-width: 70vw; }
  .navbar-expand-lg {
    flex-grow: 0; } }

@media (max-width: 992px) {
  .offcanvas {
    width: 250px; }
  .offcanvas-start-lg {
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(-100%); } }

.footer-bg {
  background-color: rgba(0, 0, 0, 0.5); }

.footer {
  align-self: end; }

footer {
  width: 100%;
  height: 58.4px; }
  footer ul {
    margin: 0; }
    footer ul li {
      display: inline-block;
      padding: 16px;
      margin: 0; }
      footer ul li a {
        padding: 8px; }
        footer ul li a:hover {
          background-color: white;
          border-radius: 8px;
          color: #444;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          outline: none; }

body {
  background-color: black;
  margin: 0;
  position: relative;
  min-height: 100vh;
  min-width: 100%; }

.wrapper-scroll {
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-gap: 0;
  grid-template-areas: "header" "content" "footer"; }

.header {
  grid-area: header; }

.content {
  grid-area: content;
  align-self: center; }

.footer {
  grid-area: footer; }

/* Video background */
.videobg {
  min-width: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0.5; }

a {
  text-decoration: none;
  color: white;
  padding: 0; }
  a:hover {
    text-decoration: none;
    color: white; }

li {
  list-style-type: none; }

h1 {
  margin: 16px;
  margin-left: 32px;
  font-family: "Titillium Web", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white; }

h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 1.5em;
  padding-left: 3em;
  padding-bottom: .5em; }

span {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: white; }

.main-page-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse; }

.role {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 4rem;
  font-weight: normal;
  color: white;
  margin-left: auto; }
  .role li {
    text-align: right; }

.display-2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  font-weight: 600;
  margin: 0; }

#MOTION-DESIGNER {
  animation-delay: 0.5s; }

#SOUND-DESIGNER {
  animation-delay: 1s; }

#working-on-card {
  margin-top: 0;
  margin-bottom: 0; }

.nav-tabs .nav-link {
  color: black; }

.card-header {
  background-color: white; }

#working-tabs {
  padding-top: 0; }

#card-title-box {
  margin: 0; }

.work-video iframe {
  width: 560px;
  height: 315px; }

.working {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-align: center; }
  .working p {
    font-size: 1.4em; }

.working-box {
  background-color: white;
  padding: 10px; }

.video-wrapper {
  width: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 5% 1fr 5%;
  grid-template-areas: "sidebar video-content ."; }

.video-menu-container {
  height: 10%;
  margin-top: -2%;
  grid-area: sidebar;
  top: 0;
  position: sticky;
  align-self: start; }

#video-menu {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: row;
  position: relative; }
  #video-menu a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: -4px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; }
  #video-menu a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left; }
  #video-menu li {
    transform: rotate(180deg);
    padding: 12px; }

.section-title {
  padding: 16px; }

.video-menu-item {
  padding: 0;
  background: none;
  border: none;
  color: white; }

.list-group-item-action:focus {
  z-index: 1;
  color: white;
  text-decoration: none;
  background-color: transparent; }

.list-group-item-action:hover {
  z-index: 1;
  color: white;
  text-decoration: none;
  background-color: transparent; }

.list-group-item.active {
  z-index: 2;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px; }

.video-content {
  padding-top: 16px;
  width: 100%;
  grid-area: video-content;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "shortfilms" "socialmedia" "animations";
  justify-items: center; }

#shortfilms {
  grid-area: shortfilms; }
  #shortfilms ul {
    width: 90%;
    padding: 0;
    margin-bottom: 0; }

#socialmedia {
  grid-area: socialmedia;
  padding: 0;
  width: 94%; }

.socialmedia-grid {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(0, auto) minmax(0, auto);
  grid-gap: 4%;
  justify-items: center;
  align-items: center;
  width: 100%; }
  .socialmedia-grid iframe {
    max-width: 100%;
    max-height: 100%; }

#animations {
  grid-area: animations;
  padding-top: 16px; }
  #animations ul {
    width: 90%;
    padding: 0; }

.sound-grid {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  place-items: center;
  position: relative;
  overflow: hidden;
  height: 83vh;
  gap: 4px; }
  .sound-grid iframe {
    height: 90%;
    width: 100%; }

.sound-item {
  background-color: white;
  padding: 1px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column; }

audio {
  width: -webkit-fill-available; }

.sound-subtitle, .sound-title {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: black;
  text-transform: uppercase;
  margin: 4px;
  margin-left: 4px; }

.sound-title {
  font-weight: bold; }

.waveform {
  width: 99%;
  height: 60%;
  margin: auto; }

.sound-item.left {
  grid-area: 1 / 1 / 3 / 3;
  align-self: center;
  height: 100%; }
  .sound-item.left iframe {
    height: 90%; }

.sound-item.mid-top {
  grid-area: 1 / 3 / 1 / 5; }

.sound-item.mid-bottom {
  grid-area: 2 / 3 / 2 / 5; }

.sound-item.right-top {
  grid-area: 1 / 5 / 1 / 6; }

.sound-item.right-bottom {
  grid-area: 2 / 5 / 2 / 6; }

.about-me-content {
  display: grid;
  grid-template-areas: "story" "clients" "reviews" "call-to-action"; }

.story {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  padding: 30px;
  grid-area: story;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 3fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas: "greetings greetings . . photo1 " ". paragraph-mid paragraph-mid . photo1 " ". . paragraph-right paragraph-right photo1 ";
  grid-gap: 16px;
  justify-items: center;
  align-items: center; }

.greetings {
  grid-area: greetings; }
  .greetings h1 {
    font-family: "Titillium Web", sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    text-align: center; }

.paragraph-mid {
  grid-area: paragraph-mid;
  text-align: left; }

.paragraph-right {
  grid-area: paragraph-right;
  text-align: right; }

.photo1 {
  grid-area: photo1;
  object-fit: contain;
  width: 75%;
  border: 3px solid white;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5); }
  .photo1 img {
    object-fit: cover;
    width: 90%;
    height: 100%; }

.clients {
  grid-area: clients; }

/* slider */
.logo-carousel {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  overflow: inherit;
  border: none;
  color: white;
  text-align: center; }

.slick-slide {
  margin: 0px 20px; }
  .slick-slide img {
    width: 100%;
    min-height: 90px;
    max-height: 100px;
    object-fit: scale-down;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: transform 0.3s ease-in-out, filter .5s ease-in-out; }
    .slick-slide img:hover {
      filter: none;
      transform: scale(1.1, 1.1); }

.slick-track, .slick-loading .slick-slide {
  padding: 1rem 0; }
  .slick-track::before, .slick-loading .slick-slide::before {
    display: table;
    content: ''; }
  .slick-track::after, .slick-loading .slick-slide::after {
    display: table;
    content: '';
    clear: both; }

.slick-loading .slick-track, .slick-loading .slick-slide {
  visibility: hidden; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-arrow {
  position: absolute;
  top: 50%;
  background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
  color: white;
  filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
  border: none;
  width: 2rem;
  height: 1.5rem;
  text-indent: -10000px;
  margin-top: -16px;
  z-index: 99; }

.slick-arrow.slick-next {
  right: -40px;
  transform: rotate(180deg); }

.slick-arrow.slick-prev {
  left: -40px; }

@media (max-width: 768px) {
  .slick-arrow {
    width: 1rem;
    height: 1rem; } }

.row {
  overflow: hidden;
  max-width: 100%; }

/* end-slider */
/* logos for mobile */
.mobile-logos {
  display: none; }

.client-item {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  text-align: center; }
  .client-item a:hover {
    text-decoration: none; }

.client-logo {
  margin: auto; }

/* end logos for mobile */
.reviews {
  grid-area: reviews; }

.reviews-grid {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 90%; }
  .reviews-grid div {
    margin: 16px; }

.review1, .review2, .review3 {
  display: flex;
  justify-content: center;
  align-items: center; }

.review1, .review2 {
  border-bottom: 1px solid white; }

.right-review {
  text-align: right;
  width: 50%; }

.left-review {
  text-align: left;
  width: 50%; }

.review-name {
  text-align: right;
  font-style: italic;
  margin: 0; }

.call-to-action {
  grid-area: call-to-action; }

.create {
  font-family: "Titillium Web", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 8px;
  font-style: italic; }
  .create a {
    position: relative;
    display: inline-block; }
    .create a:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 8px;
      bottom: 0;
      left: 0;
      background-color: white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out; }
    .create a:not(.not-hoverable):hover:after {
      transform: scaleX(1);
      transform-origin: bottom left; }

#form-header {
  padding: 0; }

form {
  margin: auto;
  width: 60%;
  text-align: center; }

.form-spaces {
  background-color: black;
  color: gray; }
  .form-spaces:focus {
    background-color: white;
    border: 2px solid black;
    transition: 0.5s;
    -webkit-transition: 0.3s;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
    color: black; }

input, select, textarea {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 0.5%;
  background-color: black;
  color: white;
  padding: .5em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

label {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: gray;
  text-transform: uppercase;
  font-style: italic; }

select {
  text-transform: uppercase;
  width: 100%;
  min-width: 100%;
  font-style: italic;
  height: 58px; }

.form-select {
  padding: 0.5em; }

#message {
  height: 10%; }

.button {
  width: auto;
  cursor: pointer;
  transition: .2s ease-in-out;
  text-transform: uppercase; }
  .button:hover {
    background-color: white;
    color: black;
    font-weight: bold; }

.error-message {
  margin-left: 32px;
  padding: 16px;
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: white; }

#error-dog {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 50vh; }

.error-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.error-title {
  padding: 16px;
  margin-left: 32px; }

@media (max-width: 576px) {
  h1 {
    font-size: 1.75rem;
    margin: 8px;
    margin-left: 16px; }
  h2 {
    font-size: 1.3rem; }
  .header {
    align-self: start; }
  .main-page {
    flex-direction: column-reverse;
    margin: 16px; }
  .navbar {
    padding-top: 2%;
    padding-bottom: 2%; }
  nav, #menu {
    flex-direction: column;
    padding: 0;
    align-items: flex-end; }
  #menu li {
    padding: 0.3rem; }
    #menu li:nth-child(5) {
      padding: 1.2rem 0; }
  .navbar-expand-lg > .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem); }
  iframe {
    width: 280px;
    height: 157px; }
  .work-video iframe {
    width: 240px;
    height: 135px; }
  #mail {
    display: none; }
  #mail2 {
    display: block; }
  .working {
    font-size: 1em; }
  .role, .display-2 {
    font-size: 2rem;
    margin: 0; }
  .role ul {
    padding: 0; }
    .role ul li {
      text-align: center; }
  .footer {
    align-self: end; }
    .footer footer {
      height: max-content; }
      .footer footer ul {
        padding: 16px; }
        .footer footer ul li {
          padding: 8px; }
  #aboutme-navbar {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem); }
  .video-wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "sidebar" "video-content"; }
  .video-menu-container {
    position: relative;
    margin: auto;
    align-self: center;
    height: auto; }
  #video-menu {
    writing-mode: horizontal-tb;
    height: auto;
    padding: 0;
    flex-direction: column;
    margin-bottom: 0;
    align-items: flex-start; }
    #video-menu li {
      transform: rotate(0deg); }
    #video-menu a:after {
      top: 22px; }
  .video-content {
    padding-top: 0; }
  #shortfilms ul {
    margin: 0; }
    #shortfilms ul li {
      margin: 16px; }
  #animations ul li {
    margin: 16px; }
  .socialmedia-grid {
    grid-template-columns: auto;
    grid-gap: 1%;
    width: auto; }
    .socialmedia-grid iframe {
      height: 512px; }
  .sound-grid {
    width: 90%;
    grid-template-columns: 90vw;
    grid-template-rows: auto;
    grid-gap: 8px;
    height: auto; }
    .sound-grid iframe {
      width: 100%;
      height: 157px; }
  .sound-item {
    overflow: scroll;
    height: auto; }
  .sound-item.left {
    grid-area: auto;
    align-self: center; }
  .sound-item.mid-top {
    grid-area: auto; }
  .sound-item.mid-bottom {
    grid-area: auto; }
  .sound-item.right-top {
    grid-area: auto; }
  .sound-item.right-bottom {
    grid-area: auto; }
  .story {
    padding: 16px;
    grid-template-columns: 90vw;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "greetings" "paragraph-mid" "photo1" "paragraph-right";
    grid-gap: 8px;
    justify-items: center;
    align-items: center; }
    .story p {
      text-align: center;
      margin: auto; }
  .greetings h1 {
    font-size: 2rem; }
  h2 {
    padding: 16px; }
  .aboutme-subheading {
    font-size: 1.8rem; }
  .row {
    display: none; }
  .mobile-logos {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    object-fit: scale-down;
    max-width: 90vw;
    margin: auto;
    grid-gap: 1px;
    align-items: center; }
    .mobile-logos img {
      height: 100%;
      width: 90%;
      min-height: 90px;
      max-height: 100px;
      object-fit: contain;
      margin: 16px; }
  .client-item {
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
  #mrb-logo {
    border-top: none; }
  #fanes-logo {
    border-bottom: none; }
  .reviews-grid div {
    margin: 8px; }
  .review1, .review2, .review3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .review2 {
    flex-direction: column-reverse; }
  .right-review {
    width: 100%; }
  .left-review {
    width: 100%; }
  .create {
    font-size: 2rem; }
  .button {
    width: auto; }
  form {
    margin: auto;
    width: 90%; }
  #form-header {
    padding: 8px; }
  .error-flex {
    flex-direction: column; }
  #error-dog {
    height: 30vh; } }

@media (max-width: 306px) {
  iframe {
    width: 240px;
    height: 135px; }
  .navbar-brand {
    margin: 0; }
  .work-video iframe {
    width: 208px;
    height: 117px; } }

@media (min-device-width: 683px) and (max-device-width: 1023px) {
  .header {
    align-self: start; }
  .navbar {
    padding-top: 2%;
    padding-bottom: 2%; }
  .footer {
    align-self: end; }
  .main-page {
    flex-direction: column-reverse;
    margin: 16px; }
  #menu {
    padding: 0;
    align-items: flex-end; }
    #menu li {
      padding: 16px; }
  .offcanvas-header {
    padding: 1rem; }
  .role {
    font-size: 4rem;
    margin: 0; }
    .role ul {
      padding: 0;
      margin: 16px; }
      .role ul li {
        text-align: center; }
  .work-video iframe {
    width: 560px;
    height: 315px; }
  iframe {
    width: 560px;
    height: 315px; }
  #video-menu li {
    padding: 4px; }
  .socialmedia-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1%;
    width: auto; }
    .socialmedia-grid iframe {
      width: 288px;
      height: 512px; }
  .sound-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    grid-template-areas: "main-sound main-sound" "foley1 foley1" "foley2 foley2" "audio1 audio2";
    place-items: center;
    position: relative;
    overflow: scroll;
    height: auto; }
  .sound-item.left {
    grid-area: main-sound;
    align-self: center;
    height: 100%; }
    .sound-item.left iframe {
      height: 90%; }
  .sound-item.mid-top {
    grid-area: foley1; }
  .sound-item.mid-bottom {
    grid-area: foley2; }
  .sound-item.right-top {
    grid-area: audio1; }
  .sound-item.right-bottom {
    grid-area: audio2; }
  .story {
    padding: 16px;
    grid-template-columns: repeat(4, 1fr) 3fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: 'greetings greetings . . photo1' 'paragraph-mid paragraph-mid paragraph-mid paragraph-mid photo1' 'paragraph-right paragraph-right paragraph-right paragraph-right photo1';
    grid-gap: 1px;
    justify-items: center;
    align-items: center; }
  .greetings h1 {
    font-size: 3rem; }
  .photo1 {
    width: 80%; }
  .paragraph-right {
    text-align: left; }
  .reviews-grid img {
    width: inherit; }
  .container {
    padding: 0; }
  .create {
    font-size: 2.5rem; }
  .button {
    width: auto; }
  #form-header {
    padding: 16px; }
  .error-flex {
    flex-direction: column; }
  #error-dog {
    height: 50vh; } }

@media (min-device-width: 577px) and (max-device-width: 682px) {
  .role {
    font-size: 4rem;
    margin: 0; }
    .role ul {
      padding: 0;
      margin: 16px; }
      .role ul li {
        text-align: center; }
  .main-page {
    flex-direction: column-reverse;
    margin: 16px; }
  iframe {
    width: 448px;
    height: 252px; }
  .work-video iframe {
    width: 448px;
    height: 252px; }
  .socialmedia-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1%;
    width: auto; }
    .socialmedia-grid iframe {
      width: 180px;
      height: 320px; } }

@media (min-device-width: 992px) {
  .work-video iframe {
    width: 496px;
    height: 279px; }
  .navbar-expand-lg .offcanvas {
    flex-grow: 0; }
  .offcanvas-end {
    width: auto; }
  .drawer-social {
    display: none; }
  .mail-container {
    display: none; }
  iframe {
    width: 864px;
    height: 486px; }
  .socialmedia-grid {
    background-color: transparent; }
    .socialmedia-grid iframe {
      width: 207px;
      height: 368px; } }
